body {
    background-color: rgb(71, 71, 70);
    font-family: 'Trebuchet MS';
}
  
/* h1 {
    font-size: 35px;
}
   */
h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}
  
.calculator {
    width: 400px;
    height: 340px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 20px 0px 0px 100px;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    
}
  
input {
    width: 70%;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 12px;
}

.sym {
    border: 1px solid black;
    width: 2cm;
    background-color: rgba(190, 190, 190, 0.835);
    padding: 10px;
    margin-right: -4px;
}

.amt{
    width: 102%;
}

.num{
    width: 101%;
}

.years{
    width: 114%;
}

button{
    width: 88%;
    height: 1cm;
    background-color: rgb(31, 31, 31);
    color: white;
}